{% load static %}
<section class="pride-strip">
  <div class="container">
    <div class="pride-inner" data-aos="fade-up">
      <div class="pride-text">
        <span class="section-eyebrow">Swami Vivekananda University</span>
        <h2 class="section-title text-start text-white">India&rsquo;s Pride, <span>Trusted Worldwide</span></h2>
        <p class="text-white-50 mt-2 mb-0">Ranked among India&rsquo;s top private universities and recognised globally by QS World University Rankings.</p>
      </div>
      <div class="pride-slider">
        <div class="swiper pride-slider-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="{% static 'img/rbangla.jpeg' %}" alt="QS World University Rankings 2027 &mdash; Swami Vivekananda University">
            </div>
            <div class="swiper-slide">
              <img src="{% static 'img/zee24.jpg' %}" alt="QS World University Rankings 2027 &mdash; Swami Vivekananda University">
            </div>
            <!-- <div class="swiper-slide">
              <img src="{% static 'img/abp.jpg' %}" alt="QS World University Rankings 2027 &mdash; Swami Vivekananda University">
            </div> -->
            <div class="swiper-slide">
              <img src="{% static 'img/bea.jpg' %}" alt="QS World University Rankings 2027 &mdash; Swami Vivekananda University">
            </div>
           
            <div class="swiper-slide">
              <img src="{% static 'img/aea.jpg' %}" alt="QS World University Rankings 2027 &mdash; Swami Vivekananda University">
            </div>
            <div class="swiper-slide">
              <img src="{% static 'img/rbengali.jpg' %}" alt="QS World University Rankings 2027 &mdash; Swami Vivekananda University">
            </div>
            <div class="swiper-slide">
              <img src="{% static 'img/news18.jpg' %}" alt="QS World University Rankings 2027 &mdash; Swami Vivekananda University">
            </div>
          </div>
          <div class="swiper-pagination pride-slider-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
