{% load static %}
<section class="pride-strip">
  <div class="container">
    <div class="pride-inner" data-aos="fade-up">
      <div class="pride-text">
        <span class="section-eyebrow">Swami Vivekananda University</span>
        <h2 class="section-title text-start text-white">Trusted by Thousands, <span>Recognised Worldwide</span></h2>
        <p class="text-white-50 mt-2 mb-0">Growing Every Year, Excelling Every Way.</p>
      </div>
      <div class="pride-slider">
        <div class="swiper pride-slider-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="{% static 'img/rbangla.jpeg' %}" alt="QS World University Rankings 2027 &mdash; Swami Vivekananda University">
            </div>
            <div class="swiper-slide">
              <img src="{% static 'img/481233106_972665624970210_8860091325710493319_n.jpg.jpeg' %}" alt="QS World University Rankings 2027 &mdash; Swami Vivekananda University">
            </div>
            <div class="swiper-slide">
              <img src="{% static 'img/481979442_972665414970231_8854528053355663625_n.jpg.jpeg' %}" alt="QS World University Rankings 2027 &mdash; Swami Vivekananda University">
            </div>
            <div class="swiper-slide">
              <img src="{% static 'img/482247234_972659861637453_1522331182250338419_n.jpg.jpeg' %}" alt="QS World University Rankings 2027 &mdash; Swami Vivekananda University">
            </div>
           
            <div class="swiper-slide">
              <img src="{% static 'img/536270821_1105990098304428_367322835841659546_n.jpg.jpeg' %}" alt="QS World University Rankings 2027 &mdash; Swami Vivekananda University">
            </div>
            <div class="swiper-slide">
              <img src="{% static 'img/540903586_1105990141637757_7221139477378257898_n.jpg.jpeg' %}" alt="QS World University Rankings 2027 &mdash; Swami Vivekananda University">
            </div>
            <div class="swiper-slide">
              <img src="{% static 'img/NPTEL_1.jpeg' %}" alt="QS World University Rankings 2027 &mdash; Swami Vivekananda University">
            </div>
            <div class="swiper-slide">
              <img src="{% static 'img/MPTEL_2.jpeg' %}" alt="QS World University Rankings 2027 &mdash; Swami Vivekananda University">
            </div>
            <div class="swiper-slide">
              <img src="{% static 'img/MPTEL_3.jpeg' %}" alt="QS World University Rankings 2027 &mdash; Swami Vivekananda University">
            </div>
            <div class="swiper-slide">
              <img src="{% static 'img/MPTEL_4.jpeg' %}" alt="QS World University Rankings 2027 &mdash; Swami Vivekananda University">
            </div>
          </div>
          <div class="swiper-pagination pride-slider-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
